@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/fira-code/300.woff2?version=bbb647&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/fira-code/300.woff?version=42250a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/fira-code/400.woff2?version=40ee73&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/fira-code/400.woff?version=d52958&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/fira-code/500.woff2?version=926cbc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/fira-code/500.woff?version=2c718f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/fira-code/600.woff2?version=e43ead&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/fira-code/600.woff?version=b91145&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/fira-code/700.woff2?version=840b96&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/fira-code/700.woff?version=ca9c9d&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.6em}
.push-double{margin-right:0.6em}
.pull-single{margin-left:-0.6em}
.push-single{margin-right:0.6em}
.push-double,.push-single{display:inline-block}
