@font-face {
  font-family: 'D Din Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400.woff2?version=bc0130&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400.woff?version=2e151b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'D Din Expanded';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400-italic.woff2?version=108f54&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/400-italic.woff?version=d97ecf&extension=.woff') format('woff');
}
@font-face {
  font-family: 'D Din Expanded';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/d-din-expanded/700.woff2?version=8e18a6&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/d-din-expanded/700.woff?version=af49c1&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.337em}
.push-double{margin-right:0.337em}
.pull-single{margin-left:-0.177em}
.push-single{margin-right:0.177em}
.push-double,.push-single{display:inline-block}
