@font-face {
  font-family: 'Computer Modern Typewriter';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/300.woff2?version=a1195d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/300.woff?version=07045b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Typewriter';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/300-italic.woff2?version=985271&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/300-italic.woff?version=49ee8b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Typewriter';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/400.woff2?version=1748d6&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/400.woff?version=a39b66&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Typewriter';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/400-italic.woff2?version=2a816c&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/400-italic.woff?version=8d7c81&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Typewriter';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/700.woff2?version=af5b02&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/700.woff?version=b46963&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Typewriter';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/700-italic.woff2?version=91d715&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-typewriter/700-italic.woff?version=3d5628&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.52490234375em}
.push-double{margin-right:0.52490234375em}
.pull-single{margin-left:-0.52490234375em}
.push-single{margin-right:0.52490234375em}
.push-double,.push-single{display:inline-block}
