@font-face {
  font-family: 'D Din Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/d-din-condensed/400.woff2?version=2cf1c1&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/d-din-condensed/400.woff?version=b4eedb&extension=.woff') format('woff');
}
@font-face {
  font-family: 'D Din Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/d-din-condensed/700.woff2?version=0e5772&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/d-din-condensed/700.woff?version=60f4ef&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.28em}
.push-double{margin-right:0.28em}
.pull-single{margin-left:-0.15em}
.push-single{margin-right:0.15em}
.push-double,.push-single{display:inline-block}
