@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/syne/400.woff2?version=71eba5&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/syne/400.woff?version=52bee3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/syne/500.woff2?version=5cb420&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/syne/500.woff?version=5fea81&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/syne/600.woff2?version=4dc210&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/syne/600.woff?version=8863de&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/syne/700.woff2?version=20b0bd&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/syne/700.woff?version=c9911b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/syne/800.woff2?version=e0a39d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/syne/800.woff?version=644b14&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.315em}
.push-double{margin-right:0.315em}
.pull-single{margin-left:-0.178em}
.push-single{margin-right:0.178em}
.push-double,.push-single{display:inline-block}
