<style type="text/css">
  

#searchForm {width: 100%}
form input {
  padding-left: 0rem;
  padding-right: 2.7rem;
  font: inherit;
  font-size: {{body_font.font_size}}px;
  border: none;
  line-height: inherit;
}

form input[type="text"] {
  flex-grow: 1;
  color: {{text_color}};
  background: url('/icons/search.svg') no-repeat 1rem center;
  background-size: 0.95rem;
  background-color: rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.03);
  border-radius: 3rem;
  cursor: text;
}

form input:focus,
.pag a[href]:focus {
  outline: none;
  background-color: transparent;
  border:1px solid {{link_color}};
}

.menu a[href="/search"] {
  display: none;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgba({{#rgb}}{{text_color}}{{/rgb}}, .35);
}

#dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: {{background_color}};
  z-index: 1;
  box-shadow: rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.05) 0px 0px 0px 1px, rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.05) 0px 3px 6px, rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.1) 0px 9px 24px;
  margin-top: 1px
}

#dropdown a {
  display: block;
  padding: 1rem 1.3rem 1rem 1.3rem;
  overflow: hidden;
  border-bottom: 1px solid rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.08);
  color: {{text_color}};
  font-size: {{body_font.font_size}}px;
  text-decoration: none;
}

/*#dropdown a:last-of-type {
    border-bottom: none;
}
 */
#dropdown a:focus {
  outline: none;
  background: rgba({{#rgb}}{{text_color}}{{/rgb}}, 0.06);
}

#dropdown a .thumbnail {
  vertical-align: middle;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.65rem 0 0;
}

#dropdown img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

#dropdown .date,
#results .title {
  height: 1.3rem;
  overflow: hidden;
}

#dropdown .date {
  color: rgba({{#rgb}}{{text_color}}{{/rgb}}, .4);
  flex-shrink: 0;
}

</style>
<form id="searchForm" action="/search" style="margin:0;display:flex;position:relative;align-self: normal;">
  <input type="text" placeholder="Search" style="padding:0.333rem 1.3rem 0.3333rem 2.6rem;flex-grow:1;font-size:inherit" value="{{query}}" name="q">
  <div id="dropdown">
    <a href="/search?q=">
        <span class="thumbnail"><img src="/icons/search.svg"></span>
        <span id="link-to-search"></span><span style="color:rgba({{#rgb}}{{text_color}}{{/rgb}},.4)">&puncsp;–&puncsp;Search</span></a>
  </div>
</form>
