@font-face {
  font-family: 'Inconsolata Expanded';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/200.woff2?version=10bef3&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/200.woff?version=86e2ac&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Expanded';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/300.woff2?version=6db8e6&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/300.woff?version=e61be1&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/400.woff2?version=932a82&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/400.woff?version=61cf52&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Expanded';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/500.woff2?version=5123f1&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/500.woff?version=59ee99&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Expanded';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/600.woff2?version=babb85&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/600.woff?version=ff8be4&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Expanded';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/700.woff2?version=1f234a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/700.woff?version=2a4c2c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Expanded';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/800.woff2?version=40b435&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/800.woff?version=c45f71&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Expanded';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/900.woff2?version=28eff1&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-expanded/900.woff?version=d7e2e0&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.6em}
.push-double{margin-right:0.6em}
.pull-single{margin-left:-0.6em}
.push-single{margin-right:0.6em}
.push-double,.push-single{display:inline-block}
