@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/200.woff2?version=7f1ffa&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/200.woff?version=90590f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/200-italic.woff2?version=bc3c07&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/200-italic.woff?version=e0d611&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/300.woff2?version=bc424b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/300.woff?version=a0e495&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/300-italic.woff2?version=8bf07e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/300-italic.woff?version=8f2edd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/400.woff2?version=bd023f&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/400.woff?version=37718a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/400-italic.woff2?version=b73367&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/400-italic.woff?version=054fce&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/500.woff2?version=652f33&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/500.woff?version=494fda&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/500-italic.woff2?version=96aafd&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/500-italic.woff?version=c44896&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/600.woff2?version=99268d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/600.woff?version=ed8823&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/600-italic.woff2?version=4f39bb&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/600-italic.woff?version=306057&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/700.woff2?version=c80049&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/700.woff?version=f06581&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/700-italic.woff2?version=6697be&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/700-italic.woff?version=20e27e&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/800.woff2?version=d9808e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/800.woff?version=901f39&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/newsreader/800-italic.woff2?version=5ae39e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/newsreader/800-italic.woff?version=c6ffbd&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.3655em}
.push-double{margin-right:0.3655em}
.pull-single{margin-left:-0.207em}
.push-single{margin-right:0.207em}
.push-double,.push-single{display:inline-block}
