<div class="sidebar">

  <a href="/" title="The homepage of {{title}}" class="logo {{#logo_url}}hasLogo{{/logo_url}}{{^logo_url}}{{#avatar}}hasAvatar{{/avatar}}{{/logo_url}}">
    {{#logo_url}}
    <img src="{{{logo_url}}}" alt="{{title}}" class="logo-image">
    {{/logo_url}}
    {{^logo_url}}
    {{#avatar}}
    <img width="42" height="42" src="{{{avatar}}}" class="avatar {{#roundAvatar}}round{{/roundAvatar}}">
    {{/avatar}}
    {{/logo_url}}
    <span class="site-title">{{title}}</span>
  </a>

  {{#menu}}
  <a href="{{{url}}}" class="light" title="{{label}}">{{label}}</a>
  {{/menu}}

</div>
