
<!DOCTYPE html>
<html>
  {{> head}}
  <body>

    {{> sidebar}}

    {{#entry}}

      <div class="entry">
        {{{html}}}
      </div>

      {{> meta}}

      <br>

      {{#show_adjacent_posts}}
      {{#adjacent}}
      <br>
      <p class="entry">

      {{#previous}}
      <span class="light adjacent">Previous:</span><a href="{{{url}}}" title="{{title}}">{{title}}</a><br>
      {{/previous}}

      {{#next}}
      <span class="light adjacent">Next:</span><a href="{{{url}}}" title="{{title}}">{{title}}</a>
      {{/next}}

      </p>
      <br>
      <br>
      <br>
      {{/adjacent}}
      {{/show_adjacent_posts}}

      {{> pluginHTML}}

    {{/entry}}

    {{> footer}}
  </body>
</html>
