<!DOCTYPE html>
<html>
  {{> head}}
  <body>

    {{> sidebar}}

    {{#posts}}

      {{#is.index_layout.titles}}
      <div class="entry listing">
        <a href="{{{url}}}" title="{{title}}">{{title}}</a>
        {{> meta}}
      </div>
      {{/is.index_layout.titles}}

      {{#is.index_layout.title_and_summary}}
      <div class="entry listing">
        <a href="{{{url}}}" title="{{title}}">{{title}}</a>
        {{#summary}}<p class="summary">{{{summary}}}</p>{{/summary}}
        {{> meta}}
      </div>
      {{/is.index_layout.title_and_summary}}

      {{#is.index_layout.post_in_full}}
      <div class="entry">
        {{{html}}}
      </div>

      {{> meta}}

      <hr class="full"/>
      {{/is.index_layout.post_in_full}}

    {{/posts}}

    {{#pagination}}
    <div class="pagination">
      {{#previous}}
      <a href="/page/{{previous}}">&larr; Previous</a>
      {{/previous}}
      Page {{current}} of {{total}}
      {{#next}}
      <a href="/page/{{next}}">Next &rarr;</a>
      {{/next}}
    </div>
    {{/pagination}}

    <p class="entry archives-link">View <a href="/archives">the archives</a></p>

    {{> footer}}
  </body>
</html>
