<ul id="post-list">
  {{#entries}}
  <li>
    <article>
      {{^titleTag}}
      <section class="post-body">
        {{{html}}}
      </section>
      {{/titleTag}}
      {{#titleTag}}
      <header>
        <h2><a href="{{{url}}}">{{title}}</a></h2>
      </header>
      <section class="post-body">
        {{{body}}}
      </section>
      {{/titleTag}}
      {{#date}}
      <a href="{{{url}}}" class="u-url">
        {{#hide_dates}}
        <aside class="dates" aria-label="Permalink">→</aside>
        {{/hide_dates}}
        {{^hide_dates}}
        <aside class="dates">
          <time datetime="{{date}}" class="dt-published">→ {{#formatDate}}{{date_display}}{{/formatDate}}</time>
        </aside>
        {{/hide_dates}}
      </a>
      {{/date}}
    </article>
  </li>
  <span class="separator"><span class="divider"></span></span>
  {{/entries}}
</ul>

{{> pagination}}
