@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/rosario/400.woff2?version=50112b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/rosario/400.woff?version=8e6e1b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/rosario/400-italic.woff2?version=7b0ba8&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/rosario/400-italic.woff?version=2d94b0&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.367em}
.push-double{margin-right:0.367em}
.pull-single{margin-left:-0.226em}
.push-single{margin-right:0.226em}
.push-double,.push-single{display:inline-block}
