@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/inria-serif/300.woff2?version=dea01f&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inria-serif/300.woff?version=26acc6&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inria Serif';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/inria-serif/300-italic.woff2?version=3809a7&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inria-serif/300-italic.woff?version=486c2f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/inria-serif/400.woff2?version=ca8019&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inria-serif/400.woff?version=c13aa5&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inria Serif';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/inria-serif/400-italic.woff2?version=037024&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inria-serif/400-italic.woff?version=1508dd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/inria-serif/700.woff2?version=3c5e8c&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inria-serif/700.woff?version=f0d1e7&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inria Serif';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/inria-serif/700-italic.woff2?version=2a6832&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inria-serif/700-italic.woff?version=6ae370&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.426em}
.push-double{margin-right:0.426em}
.pull-single{margin-left:-0.258em}
.push-single{margin-right:0.258em}
.push-double,.push-single{display:inline-block}
