@font-face {
  font-family: 'D Din';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/d-din/400.woff2?version=1823e3&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/d-din/400.woff?version=599144&extension=.woff') format('woff');
}
@font-face {
  font-family: 'D Din';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/d-din/400-italic.woff2?version=ea3d53&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/d-din/400-italic.woff?version=8a8e4a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'D Din';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/d-din/700.woff2?version=62f850&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/d-din/700.woff?version=397fcf&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.308em}
.push-double{margin-right:0.308em}
.pull-single{margin-left:-0.172em}
.push-single{margin-right:0.172em}
.push-double,.push-single{display:inline-block}
