@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/junicode/400.woff2?version=a4d04f&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/junicode/400.woff?version=84d82c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Junicode';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/junicode/400-italic.woff2?version=b06454&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/junicode/400-italic.woff?version=ce685e&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/junicode/700.woff2?version=c723a5&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/junicode/700.woff?version=ad3ad2&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Junicode';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/junicode/700-italic.woff2?version=cbdf19&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/junicode/700-italic.woff?version=6d3fd5&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.3701171875em}
.push-double{margin-right:0.3701171875em}
.pull-single{margin-left:-0.2060546875em}
.push-single{margin-right:0.2060546875em}
.push-double,.push-single{display:inline-block}
