@font-face {
  font-family: 'TeX Gyre Heros';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/tex-gyre-heros/400.woff2?version=33001e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/tex-gyre-heros/400.woff?version=187bfe&extension=.woff') format('woff');
}
@font-face {
  font-family: 'TeX Gyre Heros';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/tex-gyre-heros/400-italic.woff2?version=9458da&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/tex-gyre-heros/400-italic.woff?version=a9002e&extension=.woff') format('woff');
}
@font-face {
  font-family: 'TeX Gyre Heros';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/tex-gyre-heros/700.woff2?version=4fdc28&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/tex-gyre-heros/700.woff?version=415c90&extension=.woff') format('woff');
}
@font-face {
  font-family: 'TeX Gyre Heros';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/tex-gyre-heros/700-italic.woff2?version=71b878&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/tex-gyre-heros/700-italic.woff?version=704e0f&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.291em}
.push-double{margin-right:0.291em}
.pull-single{margin-left:-0.157em}
.push-single{margin-right:0.157em}
.push-double,.push-single{display:inline-block}
