@font-face {
  font-family: 'ET Book';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/et-book/400.woff2?version=1c3294&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/et-book/400.woff?version=a4c61d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'ET Book';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/et-book/400-italic.woff2?version=222b7d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/et-book/400-italic.woff?version=6fe1f9&extension=.woff') format('woff');
}
@font-face {
  font-family: 'ET Book';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/et-book/600.woff2?version=11e9d9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/et-book/600.woff?version=0cc761&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.4248046875em}
.push-double{margin-right:0.4248046875em}
.pull-single{margin-left:-0.1845703125em}
.push-single{margin-right:0.1845703125em}
.push-double,.push-single{display:inline-block}
