@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/crimson-text/400.woff2?version=7c5a25&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/crimson-text/400.woff?version=039980&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/crimson-text/400-italic.woff2?version=880440&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/crimson-text/400-italic.woff?version=62dac6&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/crimson-text/600.woff2?version=e7037a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/crimson-text/600.woff?version=c5dea6&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/crimson-text/600-italic.woff2?version=960260&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/crimson-text/600-italic.woff?version=d488f7&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/crimson-text/700.woff2?version=541128&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/crimson-text/700.woff?version=c1d1b8&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/crimson-text/700-italic.woff2?version=8eb697&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/crimson-text/700-italic.woff?version=621130&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.33984375em}
.push-double{margin-right:0.33984375em}
.pull-single{margin-left:-0.181640625em}
.push-single{margin-right:0.181640625em}
.push-double,.push-single{display:inline-block}
