@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/oswald/200.woff2?version=cb2c86&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/oswald/200.woff?version=00453f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/oswald/300.woff2?version=a8ae14&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/oswald/300.woff?version=f4df4e&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/oswald/400.woff2?version=3ab77e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/oswald/400.woff?version=dbeab4&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/oswald/500.woff2?version=d54a35&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/oswald/500.woff?version=e30070&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/oswald/600.woff2?version=3b389f&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/oswald/600.woff?version=303a57&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/oswald/700.woff2?version=3dcc1d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/oswald/700.woff?version=ec3f76&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.266em}
.push-double{margin-right:0.266em}
.pull-single{margin-left:-0.127em}
.push-single{margin-right:0.127em}
.push-double,.push-single{display:inline-block}
