@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/extra-light.woff2?version=29a516&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/extra-light.woff?version=d1e4ab&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/extra-light-italic.woff2?version=fcc0aa&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/extra-light-italic.woff?version=32f94b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/light.woff2?version=9778e5&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/light.woff?version=b83725&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/light-italic.woff2?version=ef7cfa&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/light-italic.woff?version=bf4b60&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/regular.woff2?version=aca955&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/regular.woff?version=93ad6f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/italic.woff2?version=ae509c&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/italic.woff?version=e1e03b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/semi-bold.woff2?version=722941&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/semi-bold.woff?version=52e3b8&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/semi-bold-italic.woff2?version=0a42c5&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/semi-bold-italic.woff?version=98e0e0&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/bold.woff2?version=b1b436&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/bold.woff?version=65e566&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/bold-italic.woff2?version=2101e9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/bold-italic.woff?version=3eb8f3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/black.woff2?version=6852cd&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/black.woff?version=f3a0b7&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/source-sans/black-italic.woff2?version=96e81b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-sans/black-italic.woff?version=e2003b&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.426em}
.push-double{margin-right:0.426em}
.pull-single{margin-left:-0.249em}
.push-single{margin-right:0.249em}
.push-double,.push-single{display:inline-block}
