@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/100.woff2?version=e676ca&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/100.woff?version=074fb2&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/100-italic.woff2?version=a90af7&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/100-italic.woff?version=3c528f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/200.woff2?version=a0aae8&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/200.woff?version=5b35c1&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/200-italic.woff2?version=1ba9f8&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/200-italic.woff?version=8a6a56&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/300.woff2?version=8263c6&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/300.woff?version=3add32&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/300-italic.woff2?version=44b205&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/300-italic.woff?version=e25408&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/400.woff2?version=ad1fda&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/400.woff?version=f03248&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/400-italic.woff2?version=d16b62&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/400-italic.woff?version=bb0d08&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/500.woff2?version=7c9c4a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/500.woff?version=6dc932&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/500-italic.woff2?version=58011d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/500-italic.woff?version=9ea9c2&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/600.woff2?version=be272f&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/600.woff?version=133500&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/600-italic.woff2?version=01d3e0&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/600-italic.woff?version=177811&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/700.woff2?version=bcbf7c&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/700.woff?version=8f5018&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/700-italic.woff2?version=74ab83&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/700-italic.woff?version=0ef66c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/800.woff2?version=89fa71&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/800.woff?version=dcd8d9&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/800-italic.woff2?version=2ab4bc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/800-italic.woff?version=5cbb8b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/900.woff2?version=a33008&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/900.woff?version=bce44a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Piazzolla';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/piazzolla/900-italic.woff2?version=291ab9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/piazzolla/900-italic.woff?version=dda3e9&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.399em}
.push-double{margin-right:0.399em}
.pull-single{margin-left:-0.242em}
.push-single{margin-right:0.242em}
.push-double,.push-single{display:inline-block}
