@font-face {
  font-family: 'Computer Modern Bright';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-bright/400.woff2?version=1490d1&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-bright/400.woff?version=d0f169&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-bright/400-italic.woff2?version=093eac&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-bright/400-italic.woff?version=3646fc&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-bright/700.woff2?version=8b7d5e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-bright/700.woff?version=350d3c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-bright/700-italic.woff2?version=600529&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-bright/700-italic.woff?version=202829&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.52490234375em}
.push-double{margin-right:0.52490234375em}
.pull-single{margin-left:-0.2919921875em}
.push-single{margin-right:0.2919921875em}
.push-double,.push-single{display:inline-block}
