@font-face {
  font-family: 'Computer Modern Sans';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-sans/400.woff2?version=dc7980&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-sans/400.woff?version=028a5d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Sans';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-sans/400-italic.woff2?version=318e61&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-sans/400-italic.woff?version=c96cf7&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Sans';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-sans/700.woff2?version=6cb853&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-sans/700.woff?version=8686bb&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern Sans';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern-sans/700-italic.woff2?version=8bf417&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern-sans/700-italic.woff?version=c96053&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.5em}
.push-double{margin-right:0.5em}
.pull-single{margin-left:-0.27783203125em}
.push-single{margin-right:0.27783203125em}
.push-double,.push-single{display:inline-block}
