@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/inter/100.woff2?version=6b5f81&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/100.woff?version=bf4b35&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/inter/200.woff2?version=2ad1e0&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/200.woff?version=86fc46&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/inter/300.woff2?version=d74a51&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/300.woff?version=37407b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/inter/400.woff2?version=5c5ffc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/400.woff?version=fefd3f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/inter/500.woff2?version=0f820d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/500.woff?version=414e44&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/inter/600.woff2?version=378896&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/600.woff?version=c10506&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/inter/700.woff2?version=904606&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/700.woff?version=97523d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/inter/800.woff2?version=e13aff&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/800.woff?version=d9823d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/inter/900.woff2?version=e78b54&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inter/900.woff?version=08067b&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.4034090909090909em}
.push-double{margin-right:0.4034090909090909em}
.pull-single{margin-left:-0.2215909090909091em}
.push-single{margin-right:0.2215909090909091em}
.push-double,.push-single{display:inline-block}
