<div class="navigation-container align-{{navigation_alignment}}">

  <input type="checkbox" name="toggle" id="toggle">

  <div class="navigation">

    <a href="/" class="index-link">{{#logo_url}}<img src="{{{logo_url}}}" alt="{{title}}" class="site-logo">{{/logo_url}}{{^logo_url}}{{title}}{{/logo_url}}</a>

    <div class="shrink">
      {{#is.in_navigation.recent_posts}}
        {{#recent_entries}}
          {{#title}}
          <a href="{{{url}}}" class="{{active}}">{{title}}</a>
          {{/title}}
        {{/recent_entries}}
      {{/is.in_navigation.recent_posts}}
      {{#is.in_navigation.popular_tags}}
        {{#popular_tags}}
          <a href="/tagged/{{slug}}" class="{{active}}">{{name}}</a>
        {{/popular_tags}}
      {{/is.in_navigation.popular_tags}}
    </div>

    <div class="menu">
      {{#menu}}
      <a href="{{{url}}}" class="light ">{{label}}</a>
      {{/menu}}
    </div>

  </div>

  <label for="toggle">—<br>—<br>—</label>

</div>