@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata/200.woff2?version=08a6ba&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata/200.woff?version=62313f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata/300.woff2?version=fed8ea&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata/300.woff?version=195f14&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata/400.woff2?version=fd1f51&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata/400.woff?version=7ed086&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata/500.woff2?version=6e0901&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata/500.woff?version=36f45a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata/600.woff2?version=8f9c7a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata/600.woff?version=005d0b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata/700.woff2?version=b46642&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata/700.woff?version=3e81f6&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata/800.woff2?version=625011&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata/800.woff?version=6bebc2&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata/900.woff2?version=1dfc85&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata/900.woff?version=90db3e&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.5em}
.push-double{margin-right:0.5em}
.pull-single{margin-left:-0.5em}
.push-single{margin-right:0.5em}
.push-double,.push-single{display:inline-block}
