@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: normal;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-thin.woff2?version=fd3ac9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-thin.woff?version=3ea1f0&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/thin.woff2?version=2a3626&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/thin.woff?version=c51681&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: italic;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-thin-italic.woff2?version=7ab235&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-thin-italic.woff?version=f9de47&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/thin-italic.woff2?version=2012fb&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/thin-italic.woff?version=b53156&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/light.woff2?version=6d7f68&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/light.woff?version=14836f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-light.woff2?version=0ed80d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-light.woff?version=96d650&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/light-italic.woff2?version=227f53&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/light-italic.woff?version=78ba5f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-light-italic.woff2?version=08cb9b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-light-italic.woff?version=7c28c7&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/regular.woff2?version=ebdc15&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/regular.woff?version=ea66f0&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-regular.woff2?version=d4e25d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-regular.woff?version=28086a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/regular-italic.woff2?version=bb0907&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/regular-italic.woff?version=c6c3ef&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-regular-italic.woff2?version=9712af&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-regular-italic.woff?version=70c67f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/medium.woff2?version=a35fcb&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/medium.woff?version=92db4a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-medium.woff2?version=994099&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-medium.woff?version=3d2d8c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/medium-italic.woff2?version=65c354&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/medium-italic.woff?version=1adc84&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-medium-italic.woff2?version=89566a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-medium-italic.woff?version=80c78c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/bold.woff2?version=0dc41b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/bold.woff?version=de52dd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-bold.woff2?version=36053b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-bold.woff?version=b2f2ea&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/bold-italic.woff2?version=ad2296&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/bold-italic.woff?version=5c6182&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-bold-italic.woff2?version=cb17b0&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-bold-italic.woff?version=327ee9&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/heavy.woff2?version=4c9813&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/heavy.woff?version=b1fa4d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-heavy.woff2?version=e0aa4a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-heavy.woff?version=c5a069&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/heavy-italic.woff2?version=16f5e8&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/heavy-italic.woff?version=56b442&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-heavy-italic.woff2?version=dd615a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-heavy-italic.woff?version=5a008d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/black.woff2?version=968714&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/black.woff?version=92695f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-black.woff2?version=afd886&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-black.woff?version=3400bf&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/black-italic.woff2?version=dca9bb&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/black-italic.woff?version=325e4a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya Sanssmall-caps';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-black-italic.woff2?version=0f8166&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya-sans/small-caps-black-italic.woff?version=4f9c14&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.28em}
.push-double{margin-right:0.28em}
.pull-single{margin-left:-0.166em}
.push-single{margin-right:0.166em}
.push-double,.push-single{display:inline-block}
