@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/nanum-myeongjo/400.woff2?version=094d62&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/nanum-myeongjo/400.woff?version=860315&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/nanum-myeongjo/700.woff2?version=bb82e1&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/nanum-myeongjo/700.woff?version=178844&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/nanum-myeongjo/800.woff2?version=3ad6d2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/nanum-myeongjo/800.woff?version=5959f5&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.3203125em}
.push-double{margin-right:0.3203125em}
.pull-single{margin-left:-0.17578125em}
.push-single{margin-right:0.17578125em}
.push-double,.push-single{display:inline-block}
