<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="grid grid-bleed">

        <div class="grid-sizer"></div>

      {{#posts}}
        <div class="grid-item">

          <a href="{{{url}}}">

          {{#show_thumbnails}}
          {{#thumbnail.medium}}
          <span style="width:100%;display:block;height:0;padding-bottom:{{ratio}};margin: 0 0 1em 0;">
            <img src="{{{url}}}"/>
          </span>
          {{/thumbnail.medium}}
          {{/show_thumbnails}}


          {{title}}{{#show_summaries}} <span class="light">  – {{summary}}</span>{{/show_summaries}}
          </a>

        </div>

      {{/posts}}

      </div>

      <br><br>

      {{#pagination}}
      <p>

        {{#previous}}
        <span class="margin left">
          <a href="/page/{{previous}}">&larr; Previous</a>
        </span>
        {{/previous}}

        <span class="light" style="margin-right:30px">page {{current}} of {{total}}</span>

        {{#next}}
        <a href="/page/{{next}}">Next &rarr;</a>
        {{/next}}

      </p>
      {{/pagination}}
    {{> footer}}
  </body>
</html>