<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <h1>{{tag}}</h1>
      
     <div class="grid">

        <div class="grid-sizer"></div>

      {{#entries}}
        <div class="grid-item">

          <a href="{{{url}}}">

          {{#show_thumbnails}}
          {{#thumbnail.medium}}
          <span style="width:100%;display:block;height:0;padding-bottom:{{ratio}};margin: 0 0 1em 0;">
            <img src="{{{url}}}"/>
          </span>
          {{/thumbnail.medium}}
          {{/show_thumbnails}}


          {{title}}{{#show_summaries}} <span class="light">  – {{summary}}</span>{{/show_summaries}}
          </a>

        </div>

      {{/entries}}

      </div>

      {{#pagination}}
      <div class="pagination">
        {{#previous}}
        <a href="/tagged/{{slug}}/page/{{previous}}">&larr; Previous</a>
        {{/previous}}
        Page {{current}} of {{total}}
        {{#next}}
        <a href="/tagged/{{slug}}/page/{{next}}">Next &rarr;</a>
        {{/next}}
      </div>
      {{/pagination}}
    </div>
    {{> footer}}
  </body>
</html>