@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/regular.woff2?version=2faeb2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/regular.woff?version=ccd976&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-regular.woff2?version=b3f827&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-regular.woff?version=85fa17&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/regular-italic.woff2?version=d6602e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/regular-italic.woff?version=5121f1&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-regular-italic.woff2?version=a0e213&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-regular-italic.woff?version=783401&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/medium.woff2?version=8474f7&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/medium.woff?version=784f5f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/semi-bold.woff2?version=852370&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/semi-bold.woff?version=844246&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-medium.woff2?version=006016&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-medium.woff?version=a6de36&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/medium-italic.woff2?version=3bd585&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/medium-italic.woff?version=2df9f9&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/semi-bold-italic.woff2?version=f5257f&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/semi-bold-italic.woff?version=c68bd4&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-medium-italic.woff2?version=285973&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-medium-italic.woff?version=b867f5&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/bold.woff2?version=9590bf&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/bold.woff?version=e20363&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-bold.woff2?version=715beb&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-bold.woff?version=0df875&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/bold-italic.woff2?version=181a3a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/bold-italic.woff?version=f5a13b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-bold-italic.woff2?version=1021c2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-bold-italic.woff?version=cc4e3f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/heavy.woff2?version=13e9bc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/heavy.woff?version=26099f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-heavy.woff2?version=a103e0&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-heavy.woff?version=001a50&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/heavy-italic.woff2?version=2a5900&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/heavy-italic.woff?version=d6ce02&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-heavy-italic.woff2?version=2eb9a7&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-heavy-italic.woff?version=60ad10&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/black.woff2?version=3e1c2b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/black.woff?version=75eea8&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-black.woff2?version=4f9413&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-black.woff?version=4c834a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/black-italic.woff2?version=7d0346&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/black-italic.woff?version=ed899d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Alegreyasmall-caps';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-black-italic.woff2?version=c1f0d9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/alegreya/small-caps-black-italic.woff?version=c81b27&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.298em}
.push-double{margin-right:0.298em}
.pull-single{margin-left:-0.176em}
.push-single{margin-right:0.176em}
.push-double,.push-single{display:inline-block}
