<!DOCTYPE html>
<html>
  {{> head}}
  <body>

    {{> header}}

    <div class="container">
    <p>All entries:</p>

    <p>
    {{#posts}}
    <a href="{{{url}}}">{{title}}</a>{{#date}} {{date}}{{/date}}<br>
    {{/posts}}
    </p>

    {{#posts.length}}
    {{#pagination}}
    <div class="pagination">
      {{#previous}}
      <a href="/page/{{previous}}">&larr; Previous</a>
      {{/previous}}
      Page {{current}} of {{total}}
      {{#next}}
      <a href="/page/{{next}}">Next &rarr;</a>
      {{/next}}
    </div>
    {{/pagination}}
    {{/posts.length}}
    </div>

    <br><br>

    {{> footer}}
  </body>
</html>
