@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/300.woff2?version=be251f&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/300.woff?version=25c0a3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/400.woff2?version=4e1036&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/400.woff?version=13efa8&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/500.woff2?version=871031&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/500.woff?version=da3380&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/600.woff2?version=6fbd03&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/600.woff?version=4824c1&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/700.woff2?version=4faeed&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/700.woff?version=1d5109&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/800.woff2?version=fe29ab&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/800.woff?version=47ca16&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/900.woff2?version=849d99&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inknut-antiqua/900.woff?version=17f6eb&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.49em}
.push-double{margin-right:0.49em}
.pull-single{margin-left:-0.27em}
.push-single{margin-right:0.27em}
.push-double,.push-single{display:inline-block}
