@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/geist-mono/400.woff2?version=1dc7ef&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/geist-mono/400.woff?version=007678&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/geist-mono/400-italic.woff2?version=72932e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/geist-mono/400-italic.woff?version=44f40d&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.6em}
.push-double{margin-right:0.6em}
.pull-single{margin-left:-0.6em}
.push-single{margin-right:0.6em}
.push-double,.push-single{display:inline-block}
