@font-face {
  font-family: 'Computer Modern';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern/400.woff2?version=4d9be7&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern/400.woff?version=4c23ff&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern/400-italic.woff2?version=8ba8c4&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern/400-italic.woff?version=3efd11&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern/700.woff2?version=ff6233&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern/700.woff?version=ff31c3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Computer Modern';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/computer-modern/700-italic.woff2?version=ed66e3&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/computer-modern/700-italic.woff?version=4005f2&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.5em}
.push-double{margin-right:0.5em}
.pull-single{margin-left:-0.27783203125em}
.push-single{margin-right:0.27783203125em}
.push-double,.push-single{display:inline-block}
