@font-face {
  font-family: 'Bio Rhyme';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/bio-rhyme/200.woff2?version=3bbc50&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/bio-rhyme/200.woff?version=917a62&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Bio Rhyme';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/bio-rhyme/300.woff2?version=0b3a0f&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/bio-rhyme/300.woff?version=f9105e&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Bio Rhyme';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/bio-rhyme/400.woff2?version=e2ff75&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/bio-rhyme/400.woff?version=69a2c4&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Bio Rhyme';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/bio-rhyme/700.woff2?version=10ecce&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/bio-rhyme/700.woff?version=e14f9b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Bio Rhyme';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/bio-rhyme/800.woff2?version=23b2a0&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/bio-rhyme/800.woff?version=7c3ef9&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.447em}
.push-double{margin-right:0.447em}
.pull-single{margin-left:-0.278em}
.push-single{margin-right:0.278em}
.push-double,.push-single{display:inline-block}
