{{> header}}


{{^pagination.previous}}{{^posts.length}}
<p class="black-50 pt3">Nothing published yet.</p>
{{/posts.length}}{{/pagination.previous}}

{{#pagination.previous}}
<div class="mt5 cf">
  {{#pagination}}
  <a {{^next}}style="visibility:hidden"{{/next}} class="fr ml4 black-50 no-underline" href="/page/{{next}}">Next  →</a>
  <a {{^previous}}style="visibility:hidden"{{/previous}} class="fr black-50 no-underline" href="/page/{{previous}}">←  Previous</a>
  <p class="mv0 fw5 fl">Page {{current}} of {{total}}</p>
  {{/pagination}}
</div>
{{/pagination.previous}}

{{! bug needs to be here or partial does not load}}
<div style="display:none">
{{> featured}}
</div>


{{! First page}}
{{^pagination.previous}}

{{#show_featured_entry}}
<div class="clip-1 mt3 featured-entry">
  {{#posts}}
  {{#first}}
  {{#thumbnail.large.url}}
  {{> featured}}
  {{/thumbnail.large.url}}
  {{/first}}
  {{/posts}}
</div>
{{/show_featured_entry}}

<div class="magazine-posts{{#show_featured_entry}}{{#posts}}{{#first}}{{#thumbnail.large}} skip-1{{/thumbnail.large}}{{/first}}{{/posts}}{{/show_featured_entry}}">

  {{#posts}}
  {{> entry_line}}
  {{/posts}}
</div>

<div class="cf"></div>

{{/pagination.previous}}

{{! All other pages}}
{{#pagination.previous}}

{{#posts}}
{{> entry_line}}
{{/posts}}
{{/pagination.previous}}

{{#pagination}}
{{#next}}
<span class=" db bt   b--black-05 pb4"></span>
<a class="dim db tc fw8 f5 pt4 pb6 no-underline 2" href="/page/{{next}}">Next page</a>
{{/next}}
{{/pagination}}
{{> footer}}