{{> header}}

<div class="flex pt4 mt2 pb2" style="align-items:baseline;flex-direction:row">
  <h1 style="border-color:rgba({{#rgb}}{{text_color}}{{/rgb}},.06);flex-grow:1" class="fw9 measure-wide black db mv2 pt0 pb3 lh-title f1 ">{{tag}}</h1>
  <a class="fr pt4 black-50 no-underline mb4" href="/tags">All sections →</a>
</div>

{{#entries}}
{{> entry_line}}
{{/entries}}

{{#pagination}}
<div class="pagination">
  {{#previous}}
  <a href="/tagged/{{slug}}/page/{{previous}}">&larr; Previous</a>
  {{/previous}}
  Page {{current}} of {{total}}
  {{#next}}
  <a href="/tagged/{{slug}}/page/{{next}}">Next &rarr;</a>
  {{/next}}
</div>
{{/pagination}}

{{> footer}}