@font-face {
  font-family: 'Junicode Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/junicode-condensed/400.woff2?version=f19040&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/junicode-condensed/400.woff?version=32e5cf&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Junicode Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/junicode-condensed/400-italic.woff2?version=67b3f2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/junicode-condensed/400-italic.woff?version=176627&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Junicode Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/junicode-condensed/700.woff2?version=33d1f5&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/junicode-condensed/700.woff?version=a71c05&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Junicode Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/junicode-condensed/700-italic.woff2?version=0cd3cc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/junicode-condensed/700-italic.woff?version=306865&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.2958984375em}
.push-double{margin-right:0.2958984375em}
.pull-single{margin-left:-0.16455078125em}
.push-single{margin-right:0.16455078125em}
.push-double,.push-single{display:inline-block}
