<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="wrapper">
      {{> header}}

      <div class="content-wrapper">
        <main class="main">

          {{#entry}}
          <article class="post single">
            {{^hide_dates}}{{#date}}<div class="date-header"><span>{{date}}</span></div>{{/date}}{{/hide_dates}}
            <h1 class="post-title">{{title}}</h1>
            <div class="post-body">{{{body}}}</div>
            <div class="post-footer">
              {{#author}}<span class="post-author">Posted by {{.}}</span>{{/author}}
              {{^hide_dates}}{{#date}}<span class="post-date">{{date}}</span>{{/date}}{{/hide_dates}}
              {{#tags}}<span class="post-tag-separator">&middot;</span><a href="/tagged/{{slug}}" class="post-tag">{{tag}}</a>{{/tags}}
            </div>
          </article>

          {{#adjacent}}
          <div class="blog-pager">
            <span class="pager-newer">{{#next}}<a href="{{{url}}}" title="{{title}}">Newer Post</a>{{/next}}</span>
            <a class="pager-home" href="/">Home</a>
            <span class="pager-older">{{#previous}}<a href="{{{url}}}" title="{{title}}">Older Post</a>{{/previous}}</span>
          </div>
          {{/adjacent}}

          {{> pluginHTML}}
          {{/entry}}

          {{> feed-links}}
        </main>

        {{> sidebar}}
        <div class="clear"></div>
      </div>

      {{> footer}}
    </div>
  </body>
</html>
