@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/200.woff2?version=0c6118&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/200.woff?version=82566f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/200-italic.woff2?version=f756f1&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/200-italic.woff?version=974c6d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/300.woff2?version=b45c4a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/300.woff?version=bfb659&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/300-italic.woff2?version=9d680c&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/300-italic.woff?version=2a0d2a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/400.woff2?version=0394b6&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/400.woff?version=6099b2&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/400-italic.woff2?version=fba4e8&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/400-italic.woff?version=ffbe29&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/500.woff2?version=5f4cde&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/500.woff?version=cc8d14&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/500-italic.woff2?version=af4611&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/500-italic.woff?version=ea0933&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/600.woff2?version=fc9c94&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/600.woff?version=3d8c7c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/600-italic.woff2?version=117d70&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/600-italic.woff?version=c0a3df&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/700.woff2?version=e41138&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/700.woff?version=9cdd65&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/700-italic.woff2?version=869914&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/700-italic.woff?version=06dd8b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/800.woff2?version=7f03b2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/800.woff?version=caad92&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/spectral/800-italic.woff2?version=3e36cb&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/spectral/800-italic.woff?version=dc3487&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.45em}
.push-double{margin-right:0.45em}
.pull-single{margin-left:-0.25em}
.push-single{margin-right:0.25em}
.push-double,.push-single{display:inline-block}
