@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/chivo/400.woff2?version=014fcb&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/chivo/400.woff?version=5c7ac5&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/chivo/400-italic.woff2?version=b97d92&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/chivo/400-italic.woff?version=073c14&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.395em}
.push-double{margin-right:0.395em}
.pull-single{margin-left:-0.231em}
.push-single{margin-right:0.231em}
.push-double,.push-single{display:inline-block}
