@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/geist/400.woff2?version=9afedd&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/geist/400.woff?version=2f8a94&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/geist/400-italic.woff2?version=3e5cbc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/geist/400-italic.woff?version=090047&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.346em}
.push-double{margin-right:0.346em}
.pull-single{margin-left:-0.178em}
.push-single{margin-right:0.178em}
.push-double,.push-single{display:inline-block}
