<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}

    <h1>{{tag}}</h1>

    <hr class="full">

    <small style="margin-top: -.625em;display: block;">
    All posts tagged {{tag}}:
    </small>

      {{#entries}}
      {{> post_row}}
      {{/entries}}

      {{#pagination}}
      <div class="pagination">
        {{#previous}}
        <a href="/tagged/{{slug}}/page/{{previous}}">&larr; Previous</a>
        {{/previous}}
        Page {{current}} of {{total}}
        {{#next}}
        <a href="/tagged/{{slug}}/page/{{next}}">Next &rarr;</a>
        {{/next}}
      </div>
      {{/pagination}}

      {{> footer}}

  </body>
</html>
