@font-face {
  font-family: 'Chartersmall-caps';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/charter/regular-small-caps.woff2?version=81d723&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/charter/regular-small-caps.woff?version=4cc8ca&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/charter/regular.woff2?version=017b84&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/charter/regular.woff?version=0c4500&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/charter/italic.woff2?version=f9a973&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/charter/italic.woff?version=a043b9&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Chartersmall-caps';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/charter/bold-small-caps.woff2?version=3b8b4c&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/charter/bold-small-caps.woff?version=7af01d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/charter/bold.woff2?version=a696d8&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/charter/bold.woff?version=78342d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/charter/bold-italic.woff2?version=a25a36&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/charter/bold-italic.woff?version=e5c78e&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.365234375em}
.push-double{margin-right:0.365234375em}
.pull-single{margin-left:-0.365234375em}
.push-single{margin-right:0.365234375em}
.push-double,.push-single{display:inline-block}
