@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/karla/200.woff2?version=7f40f7&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/200.woff?version=e78705&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/karla/200-italic.woff2?version=0a4abc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/200-italic.woff?version=d76730&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/karla/300.woff2?version=5f29df&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/300.woff?version=8030e1&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/karla/300-italic.woff2?version=eee005&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/300-italic.woff?version=b821c0&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/karla/400.woff2?version=b20c8d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/400.woff?version=a4c35a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/karla/400-italic.woff2?version=1b4790&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/400-italic.woff?version=209d17&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/karla/500.woff2?version=13ae0d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/500.woff?version=90eda6&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/karla/500-italic.woff2?version=60ea87&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/500-italic.woff?version=24e1ff&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/karla/600.woff2?version=a49118&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/600.woff?version=02496b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/karla/600-italic.woff2?version=3cab21&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/600-italic.woff?version=36ad24&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/karla/700.woff2?version=7ea767&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/700.woff?version=6d400f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/karla/700-italic.woff2?version=6452d9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/700-italic.woff?version=9d0ebd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/karla/800.woff2?version=990ca7&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/800.woff?version=d8814d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/karla/800-italic.woff2?version=7eb308&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/karla/800-italic.woff?version=b9d749&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.3045em}
.push-double{margin-right:0.3045em}
.pull-single{margin-left:-0.1355em}
.push-single{margin-right:0.1355em}
.push-double,.push-single{display:inline-block}
