@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/space-grotesk/300.woff2?version=a2327a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-grotesk/300.woff?version=e7057e&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/space-grotesk/400.woff2?version=1fb963&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-grotesk/400.woff?version=232257&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/space-grotesk/500.woff2?version=1d8798&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-grotesk/500.woff?version=271465&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/space-grotesk/600.woff2?version=b5058b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-grotesk/600.woff?version=db9bcd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/space-grotesk/700.woff2?version=055f85&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-grotesk/700.woff?version=73126e&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.425em}
.push-double{margin-right:0.425em}
.pull-single{margin-left:-0.251em}
.push-single{margin-right:0.251em}
.push-double,.push-single{display:inline-block}
