@font-face {
  font-family: 'Inconsolata Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/200.woff2?version=f5e6da&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/200.woff?version=c5866b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/300.woff2?version=1c25b6&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/300.woff?version=997021&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/400.woff2?version=4a0be5&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/400.woff?version=3b0ffc&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/500.woff2?version=4ab873&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/500.woff?version=82f2bc&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/600.woff2?version=8318e0&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/600.woff?version=675877&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/700.woff2?version=95acff&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/700.woff?version=55979b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/800.woff2?version=95b7e2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/800.woff?version=cca347&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata Condensed';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/900.woff2?version=7dfaf2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/inconsolata-condensed/900.woff?version=1b6389&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.4em}
.push-double{margin-right:0.4em}
.pull-single{margin-left:-0.4em}
.push-single{margin-right:0.4em}
.push-double,.push-single{display:inline-block}
