<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}

    <p class="entries">
      {{#posts}}
      <span class="entry entry-item"
        ><a href="{{{url}}}"><span>{{title}}</span></a
        >{{#date}} <span class="entry-date"><span class="light">{{date}}</span></span>{{/date}}{{#show_tags}}{{#tags.length}} <span class="entry-tags">{{#tags}}<a class="light" href="/tagged/{{slug}}">{{name}}</a>{{^last}}, {{/last}}{{/tags}}</span>{{/tags.length}}{{/show_tags}}{{^last}} <span class="light entry-sep">//</span>{{/last}}</span
      >
      {{/posts}}
    </p>

    <br><br>

    {{#pagination}}
      <div class="pagination small">
        {{#previous}}
        <a class="light" href="/page/{{previous}}">&larr; Previous page</a>
        &nbsp; &nbsp; &nbsp;
        {{/previous}}
        {{#next}}
        <a class="light" href="/page/{{next}}">Next page &rarr;</a>
        {{/next}}
      </div>
      {{/pagination}}

    {{> footer}}
  </body>
</html>
