@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/100.woff2?version=6ea999&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/100.woff?version=a4af10&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/100-italic.woff2?version=8de2ec&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/100-italic.woff?version=fb2a1b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/200.woff2?version=02636b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/200.woff?version=b7f1fa&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/200-italic.woff2?version=9b3a91&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/200-italic.woff?version=6ceb9a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/300.woff2?version=f4e9e3&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/300.woff?version=8f4776&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/300-italic.woff2?version=59406e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/300-italic.woff?version=85dfe2&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/400.woff2?version=db5731&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/400.woff?version=47c92d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/400-italic.woff2?version=3763e1&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/400-italic.woff?version=3e69dd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/500.woff2?version=1f64b3&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/500.woff?version=010845&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/500-italic.woff2?version=1ad363&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/500-italic.woff?version=656934&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/600.woff2?version=d5b219&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/600.woff?version=6bb3d3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/600-italic.woff2?version=e2b205&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/600-italic.woff?version=ec5b4b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/700.woff2?version=e83c25&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/700.woff?version=ec7c0a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/700-italic.woff2?version=596b5d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/700-italic.woff?version=f3863f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/800.woff2?version=a3e50c&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/800.woff?version=893570&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 800;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/800-italic.woff2?version=007626&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/800-italic.woff?version=acca76&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/900.woff2?version=68c921&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/900.woff?version=268018&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/work-sans/900-italic.woff2?version=80e36a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/work-sans/900-italic.woff?version=c772ca&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.403em}
.push-double{margin-right:0.403em}
.pull-single{margin-left:-0.234em}
.push-single{margin-right:0.234em}
.push-double,.push-single{display:inline-block}
