@font-face {
  font-family: 'Unifraktur Maguntia';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/unifraktur-maguntia/400.woff2?version=aa3589&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/unifraktur-maguntia/400.woff?version=c59b26&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.40283203125em}
.push-double{margin-right:0.40283203125em}
.pull-single{margin-left:-0.20068359375em}
.push-single{margin-right:0.20068359375em}
.push-double,.push-single{display:inline-block}
