@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin.woff2?version=d6c661&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin.woff?version=022618&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 100;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin-italic.woff2?version=b41916&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/thin-italic.woff?version=6ace91&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light.woff2?version=c255c9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light.woff?version=c5a464&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light-italic.woff2?version=886ab4&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/light-italic.woff?version=feae6c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book.woff2?version=9d7351&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book.woff?version=6575a5&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book-italic.woff2?version=533b87&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/book-italic.woff?version=2fcfdd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium.woff2?version=47d31d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium.woff?version=51cfff&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold.woff2?version=b84f6a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold.woff?version=b266c3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium-italic.woff2?version=6d44a5&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/medium-italic.woff?version=c84337&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold-italic.woff2?version=23fe83&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/semibold-italic.woff?version=ac9aa9&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold.woff2?version=5ed29e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold.woff?version=ccd41c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold-italic.woff2?version=353e22&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/bold-italic.woff?version=edf557&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy.woff2?version=5ef176&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy.woff?version=7c379a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy-italic.woff2?version=ef8ab9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/cooper-hewitt/heavy-italic.woff?version=b7004b&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.338em}
.push-double{margin-right:0.338em}
.pull-single{margin-left:-0.217em}
.push-single{margin-right:0.217em}
.push-double,.push-single{display:inline-block}
