@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/extra-light.woff2?version=7028c2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/extra-light.woff?version=2a9a3c&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/extra-light-italic.woff2?version=0bcd5a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/extra-light-italic.woff?version=e25725&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/light.woff2?version=df9ee2&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/light.woff?version=722968&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/light-italic.woff2?version=f7e458&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/light-italic.woff?version=979104&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/regular.woff2?version=bedd2e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/regular.woff?version=13ecee&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/italic.woff2?version=29964b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/italic.woff?version=bd9af3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/medium.woff2?version=d0a4ee&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/medium.woff?version=48629b&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/semi-bold.woff2?version=adc1b6&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/semi-bold.woff?version=dcad55&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/medium-italic.woff2?version=573ce9&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/medium-italic.woff?version=235130&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/semi-bold-italic.woff2?version=a4fb65&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/semi-bold-italic.woff?version=39da30&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/bold.woff2?version=323bcc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/bold.woff?version=c78ec9&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/bold-italic.woff2?version=630ce4&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/bold-italic.woff?version=dc4c80&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/black.woff2?version=deb2fc&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/black.woff?version=152254&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Code';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/source-code/black-italic.woff2?version=bb3e1b&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-code/black-italic.woff?version=c41d64&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.6em}
.push-double{margin-right:0.6em}
.pull-single{margin-left:-0.6em}
.push-single{margin-right:0.6em}
.push-double,.push-single{display:inline-block}
