@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/abel/400.woff2?version=49b556&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/abel/400.woff?version=c7b093&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.31494140625em}
.push-double{margin-right:0.31494140625em}
.pull-single{margin-left:-0.19482421875em}
.push-single{margin-right:0.19482421875em}
.push-double,.push-single{display:inline-block}
