<header>

<a href="/" title="Home" class="site-title {{#is_active}}/{{/is_active}}">{{#logo_url}}<img src="{{{logo_url}}}" alt="" class="site-logo">{{/logo_url}}<strong>{{title}}</strong></a>

{{#show_tags_in_navigation}}
<nav class="tags">
{{#all_tags}}
<a href="/tagged/{{slug}}" title="{{name}}" class="{{active}}">{{name}}</a>
{{/all_tags}}
</nav>
{{/show_tags_in_navigation}}

<nav class="menu">
{{#menu}}
<a href="{{{url}}}" title="{{label}}" class="{{active}}">{{label}}</a>
{{/menu}}
</nav>

</header>
