<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container">
      {{> header}}
        <form class="search-form" action='/search'>
          <input placeholder="Type your search..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" />
          <input type="submit" value="Search"/>
        </form>
        <div class="search-results">
          {{#query}}
            {{^entries}}
            <p>Sorry, nothing found for “{{query}}”</p>
            {{/entries}}
          {{/query}}

          {{#entries}}
            <a href="{{{url}}}">{{title}}</a>
            {{#date}}<span class="small">{{date}}</span>{{/date}}
            <br>
          {{/entries}}
        </div>
    {{> footer}}
    </div>
  </body>
</html>
