@font-face {
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/baskervville/400.woff2?version=255185&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/baskervville/400.woff?version=1c649d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Baskervville';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/baskervville/400-italic.woff2?version=07c511&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/baskervville/400-italic.woff?version=c03bd5&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.337em}
.push-double{margin-right:0.337em}
.pull-single{margin-left:-0.204em}
.push-single{margin-right:0.204em}
.push-double,.push-single{display:inline-block}
