<!DOCTYPE html>
<html>
  {{> head}}
  <body>

    <div class="container">

      {{> header}}

      <div class="list">

      <span class="pull-left">
        Search
      </span>

      <form>
        <input placeholder="Search for an entry..." value="{{#query}}{{query}}{{/query}}" name="q" id="search" type="text" /><input type="submit" value="Go"/>
      </form>


      <br>


      <br>



        {{#query}}
          {{^entries}}
          <p>Sorry, no results for “{{query}}”</p>
          {{/entries}}
        {{/query}}

        {{#entries}}
          <a href="{{{url}}}">{{title}}</a>{{#date}} {{date}}{{/date}}<br>
        {{/entries}}

      </div>



    </div>
    {{> footer}}
  </body>
</html>
