<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}

    <div class="list">
    <h1>Posts tagged “{{tag}}”</h1>

    {{#entries}}
    <a href="{{{url}}}">{{title}}</a>{{#date}} {{date}}{{/date}} <br>
    {{/entries}}

    {{#pagination}}
    <div class="pagination">
      {{#previous}}
      <a href="/tagged/{{slug}}/page/{{previous}}">&larr; Previous</a>
      {{/previous}}
      Page {{current}} of {{total}}
      {{#next}}
      <a href="/tagged/{{slug}}/page/{{next}}">Next &rarr;</a>
      {{/next}}
    </div>
    {{/pagination}}
    </div>

    {{> footer}}
  </body>
</html>
