<!DOCTYPE html>
<html lang="{{lang}}">
{{> head}}
<body>
    {{> navigation}}
    <main>
       <h1>Archives</h1>
       {{> search-form}}
       <div class="archives-grid">
         {{#all_entries}}
         <div class="archive-item">
           <a href="{{{url}}}" class="archive-title">{{title}}</a>
           {{^hide_dates}}{{#date}}<span class="archive-date">{{#formatDate}}{{date_display}}{{/formatDate}}</span>{{/date}}{{/hide_dates}}
         </div>
         {{/all_entries}}
       </div>
    </main>
    {{> footer}}
</body>
</html>