<!DOCTYPE html>
<html lang="{{lang}}">
{{> head}}
<body>
    {{> navigation}}
    <main>
        <div class="entry">
        {{^posts.length}}
            <p>Nothing here.</p>
        {{/posts.length}}
        {{#posts}}
        {{#first}}
            {{{html}}}
            {{^hide_dates}}
            {{#dateStamp}}
            <p class="entry-date">{{#formatDate}}{{date_display}}{{/formatDate}}</p>
            {{/dateStamp}}
            {{/hide_dates}}
            {{#show_backlinks}}
            {{#backlinks.length}}
            <br>
            <hr>
            <h4>Links to this page</h4>
            <p>
            {{#backlinks}}
            <a href="{{{url}}}">{{title}}</a><br>
            {{/backlinks}}
            </p>
            {{/backlinks.length}}
            {{/show_backlinks}}
        {{/first}}
        {{/posts}}
        </div>
    </main>
    {{> footer}}
</body>
</html>