<!DOCTYPE html>
<html lang="{{lang}}">
{{> head}}
<body>
    {{> navigation}}
    <main>
      <div class="entry">
      {{{entry.html}}}
      {{^hide_dates}}
      {{#entry.dateStamp}}
      <p class="entry-date">{{#formatDate}}{{date_display}}{{/formatDate}}</p>
      {{/entry.dateStamp}}
      {{/hide_dates}}
      {{#show_backlinks}}
      {{#entry.backlinks.length}}
      <br>
      <hr>
      <h4>Links to this page</h4>
      <p>
      {{#entry.backlinks}}
      <a href="{{{url}}}">{{title}}</a><br>
      {{/entry.backlinks}}
      </p>
      {{/entry.backlinks.length}}
      {{/show_backlinks}}
      </div>
    </main>
    {{> footer}}
</body>
</html>