@font-face {
  font-family: 'Standard';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/standard/400.woff2?version=f7f458&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/standard/400.woff?version=bbe891&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Standard';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/standard/400-italic.woff2?version=50f295&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/standard/400-italic.woff?version=764223&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Standard';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/standard/700.woff2?version=b313ec&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/standard/700.woff?version=f74ecc&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Standard';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/standard/700-italic.woff2?version=89c591&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/standard/700-italic.woff?version=9838fc&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.428em}
.push-double{margin-right:0.428em}
.pull-single{margin-left:-0.228em}
.push-single{margin-right:0.228em}
.push-double,.push-single{display:inline-block}
