@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/extra-light.woff2?version=c13b2e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/extra-light.woff?version=689a6a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: italic;
  font-weight: 200;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/extra-light-italic.woff2?version=a0d5a4&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/extra-light-italic.woff?version=ddcb76&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/light.woff2?version=e01d4d&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/light.woff?version=cc2257&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: italic;
  font-weight: 300;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/light-italic.woff2?version=6bdd3e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/light-italic.woff?version=cace29&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/regular.woff2?version=8fcb76&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/regular.woff?version=7729cd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/italic.woff2?version=9b10d0&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/italic.woff?version=462182&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/semi-bold.woff2?version=13a335&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/semi-bold.woff?version=b542dd&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: italic;
  font-weight: 500;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/semi-bold-italic.woff2?version=170b13&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/semi-bold-italic.woff?version=2cd60f&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/bold.woff2?version=8155d6&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/bold.woff?version=0dafdc&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: italic;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/bold-italic.woff2?version=fe4e52&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/bold-italic.woff?version=c8f546&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/black.woff2?version=2ab633&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/black.woff?version=063d2a&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: italic;
  font-weight: 900;
  src: url('{{{config.cdn.origin}}}/fonts/source-serif/black-italic.woff2?version=e6ff43&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/source-serif/black-italic.woff?version=6b7479&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.356em}
.push-double{margin-right:0.356em}
.pull-single{margin-left:-0.183em}
.push-single{margin-right:0.183em}
.push-double,.push-single{display:inline-block}
