@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/space-mono/400.woff2?version=904e72&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-mono/400.woff?version=3aa6f6&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/space-mono/400-italic.woff2?version=8291ec&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-mono/400-italic.woff?version=126c33&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/space-mono/700.woff2?version=0f7a1e&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-mono/700.woff?version=4998a3&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  src: url('{{{config.cdn.origin}}}/fonts/space-mono/700-italic.woff2?version=2a9713&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/space-mono/700-italic.woff?version=10a85f&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.612em}
.push-double{margin-right:0.612em}
.pull-single{margin-left:-0.612em}
.push-single{margin-right:0.612em}
.push-double,.push-single{display:inline-block}
