@font-face {
  font-family: 'Infini';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/infini/regular.woff2?version=126cab&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/infini/regular.woff?version=a8224d&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Infini';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/infini/regular-italic.woff2?version=f3011a&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/infini/regular-italic.woff?version=d6fc8e&extension=.woff') format('woff');
}
@font-face {
  font-family: 'Infini';
  font-style: normal;
  font-weight: 600;
  src: url('{{{config.cdn.origin}}}/fonts/infini/bold.woff2?version=96959c&extension=.woff2') format('woff2'),
       url('{{{config.cdn.origin}}}/fonts/infini/bold.woff?version=541aac&extension=.woff') format('woff');
}
.pull-double {margin-left:-0.42em}
.push-double{margin-right:0.42em}
.pull-single{margin-left:-0.22em}
.push-single{margin-right:0.22em}
.push-double,.push-single{display:inline-block}
